@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    height: 100%;
    box-sizing: border-box;
}

:root {
    --headerBackgroundColor: #ffffff;
    --headerTextColor: #000000;
    --buttonBackgroundColor: #000000;
    --buttonTextColor: #ffffff;
    --learnButtonBackgroundColor: #ffffff;
    --learnButtonTextColor: #000000;
    --learnButtonBorderColor: #bcbcbc;
}

.header-section {
    background-color: var(--headerBackgroundColor);
    padding: 20px 20px;
    height: auto;
    justify-content: space-between;
    display: flex;
}

.header-logo-and-title {
    color: var(--headerTextColor);
    font-weight: 800;
}

.release-version {
    padding: 2px 10px;
    font-size: 12px;
    background-color: #038153;
    border-radius: 200px;
    color: #ffffff;
    text-align: center;
    margin-left: 8px;
    font-weight: 400;
}

.header-options {
    display: flex;
}

.header-options li {
    list-style: none;
    margin-right: 20px;
}

.header-options li a {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
}

.home-section {
    display: flex;
}

.home-section-half-left {
    width: 60%;
    padding: 20px 80px;
    display: flex;
    align-items: center;
}

.home-section-half-left-container {
    height: auto;
    margin-bottom: 80px;
}

.home-section-headings {
    text-align: center;
    height: auto;
}

.home-section-headings h1 {
    font-size: 48px;
    font-weight: 700;
}

.home-section-headings h2 {
    font-size: 24px;
    font-weight: 400;
    padding: 0px 40px;
    margin-top: 16px;
}

.home-section-headings p{
    font-size: 16px;
    margin-top: 8px;
}

.home-code-image-container-mobile {
    border-radius: 8px;
    overflow: hidden;
    margin-top: 40px;
    height: auto;
}

.home-code-image-container-mobile {
    display: none;
}

.home-code-image-container-mobile img {
    height: 300px;
    width: 100%;
}

.home-section-buttons-container {
    display: flex;
    justify-content: center;
    margin: 20px;
    height: auto;
}

.quick-start-button {
    padding: 14px 20px;
    border: 0 solid;
    border-radius: 8px;
    background-color: var(--buttonBackgroundColor);
    color: var(--buttonTextColor);
    cursor: pointer;
    margin-right: 10px;
    font-weight: 600;
}

.learn-button {
    padding: 14px 20px;
    border: 1px solid var(--learnButtonBorderColor);
    border-radius: 8px;
    background-color: var(--learnButtonBackgroundColor);
    color: var(--learnButtonTextColor);
    cursor: pointer;
    margin-right: 10px;
    font-weight: 600;

}

.home-section-half-right {
    width: 40%;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-section-half-right img {
    height: 400px;
    margin-bottom: 80px;
    border-radius: 10px;
}

.home-page-code-snippet {
    font-size: 12px;
    padding: 20px 20px;
    background-color: #000000;
    color: #ffffff;
    width: max-content;
    margin-top: 40px;
    border-radius: 10px;
    margin-left: 40px;
}

.home-code-snippet-topbar {
    display: flex;
}

.home-code-snippet-topbar span {
    height: 20px;
    background-color: #ffffff;
}


@media  screen and (max-width: 768px) {
    
    .release-version {
        font-size: 10px;
    }

    .home-section-half-left {
        width: 100%;
        padding: 20px 20px;
    }

    .home-section-headings h1 {
        font-size: 32px;
    }

    .home-section-headings h2 {
        font-size: 16px;
        padding: 0px;
        font-weight: 600;
    }

    .home-section-headings p {
        font-size: 14px;
        padding: 0px;
    }
    
    .home-code-image-container-mobile {
        display: block  ;
    }

    .home-section-half-right {
        display: none;
    }

    .home-page-code-snippet {
        width: 300px;
    }
    
}