.header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo-and-title {
    display: flex;
    align-items: center;
}

.header-logo {
    height: 24px;
    text-decoration: none;
    display: flex;
    padding: 12px;
    align-items: center;
    padding: 14px 8px;
    color: var(--primaryFontColor);
}

.header-title {
    font-size: 20px;
    padding: 20px 0px;
}

.header-option {
    font-size: 14px;
    color: var(--primaryFontColor);
    text-decoration: none;
    margin-right: 20px;
}

.header-option:hover {
    font-weight: 700;
}

.header-buttons {
    display: flex;
    align-items: center;
    padding: 8px 0px;
}

.github-link-logo-button {
    display: flex;
    align-items: center;
}

.github-icon {
    height: 28px;
    cursor: pointer;
}

.contribute-button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #10976F;
    color: var(--buttonColor);
    border: 0 solid;
    border-radius: 8px;
    margin-left: 20px;
    cursor: pointer;
}


@media only screen and (max-width: 600px) {

    .header-options {
        display: none;
    }

    .contribute-button {
        display: none;
    }
    
    .header-title {
        font-size: 14px;
    }
}
