@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root {
    --primaryFontColor: #000000;
    --buttonColor: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    padding: 0px 0px;
}

.root {
    height: 100%;
}

.main-section {
    height: 100%;
}

@media only screen and (max-width: 600px) {
    
    body {
        padding: 0px;
    }
}